<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport"-->
<!--          content="width=device-width, member-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">-->
<!--    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
<!--    <title>Document</title>-->
<!--</head>-->
<!--<body>-->
<!--<form th:action="@{/member/myedit}" method="post">-->
<!--    <input type="hidden" th:name="id" th:value="${member.id}">-->

<!--    <div>userId</div>-->
<!--    <input type="text" id="userId" name="UserId"-->
<!--           th:value="${member.userId}">-->
<!--    <div>password</div>-->
<!--    <input type="text" id="password" name="password"-->
<!--           th:value="${member.password}">-->
<!--    <div>usertype</div>-->
<!--    <input type="text" id="usertype" name="usertype"-->
<!--           th:value="${member.usertype}">-->
<!--    <div>birthdate</div>-->
<!--    <input type="text" id="birthdate" name="birthdate"-->
<!--           th:value="${member.birthdate}">-->
<!--    <div>gender</div>-->
<!--    <input type="text" id="gender" name="gender"-->
<!--           th:value="${member.gender}">-->
<!--    <div>email</div>-->
<!--    <input type="text" id="email" name="email"-->
<!--           th:value="${member.email}">-->
<!--    <div>contact</div>-->
<!--    <input type="text" id="contact" name="contact"-->
<!--           th:value="${member.contact}">-->
<!--    <div>address</div>-->
<!--    <input type="text" id="address" name="address"-->
<!--           th:value="${member.address}">-->




<!--    <input type="submit" value="내정보 수정">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, member-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form th:action="@{/member/myedit}" method="post">
    <input type="hidden" th:name="id" th:value="${member.id}">

    <div>userId</div>
    <input type="text" id="userId" name="UserId"
           th:value="${member.userId}">
    <div>password</div>
    <input type="text" id="password" name="password"
           th:value="${member.password}">
    <div>usertype</div>
    <input type="text" id="usertype" name="usertype"
           th:value="${member.usertype}">
    <div>birthdate</div>
    <input type="text" id="birthdate" name="birthdate"
           th:value="${member.birthdate}">
    <div>gender</div>
    <input type="text" id="gender" name="gender"
           th:value="${member.gender}">
    <div>email</div>
    <input type="text" id="email" name="email"
           th:value="${member.email}">
    <div>contact</div>
    <input type="text" id="contact" name="contact"
           th:value="${member.contact}">
    <div>address</div>
    <input type="text" id="address" name="address"
           th:value="${member.address}">




    <input type="submit" value="내정보 수정 완료">
</form>
</body>
</html>