<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form method="POST" action="/api/login"
      onsubmit="return loginValidation()">
    <div class="t">아이디</div>
    <input type="text" id="userId" name="userId" placeholder="아이디" />
    <div class="t">비밀번호</div>
    <input type="password" id="password" name="password" placeholder="비밀번호"/>
    <input type="submit" name="submit" value="로그인" />

    <button type="button" onclick="location.href='/signup'">회원가입</button>
</form>

<script>

    function displayButtons() {
        const jwtToken = getCookie('Authorization'); // 쿠키에서 JWT 토큰 가져오기
        const employeeInfoButton = document.getElementById('employeeInfoButton');
        const loginButton = document.getElementById('loginButton');
        const logoutButton = document.getElementById('logoutButton');
        const signupButton = document.getElementById('signupButton');

        // JWT 토큰이 존재하면 로그인 상태
        if (jwtToken) {
            employeeInfoButton.style.display = "inline";
            logoutButton.style.display = "inline";
        } else {
            loginButton.style.display = "inline";
            signupButton.style.display = "inline";
        }
    }
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }


</script>
</body>
</html>