<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, member-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>
    <button id="add" onclick="location.href='/adduser'">직원추가</button>
    <table>
        <thead>
        <tr><th>id</th>
            <th>userId</th>
            <th>password</th>
            <th>usertype</th>
            <th>birthdate</th>
            <th>gender</th>
            <th>email</th>
            <th>contact</th>
            <th>address</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate through dinosaurs and display information -->
        <tr th:each="member : ${members}">
            <td th:text="${member.id}"></td> <!-- ID 출력 -->
            <td th:text="${member.userId}"></td>
            <td th:text="${member.password}"></td>
            <td th:text="${member.usertype}"></td>
            <td th:text="${member.birthdate}"></td>
            <td th:text="${member.gender}"></td>
            <td th:text="${member.email}"></td>
            <td th:text="${member.contact}"></td>
            <td th:text="${member.address}"></td>

            <td>
                <!-- Edit 버튼 -->
                <a th:href="@{/member/edit/{id}(id=${member.id})}">
                    <button>수정</button>
                </a>


                <!-- Delete 버튼 -->
                <form th:action="@{/members/delete}" method="post">
                    <input type="hidden" name="id" th:value="${member.id}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>